:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --active-element-color: #2196f3;
  --additional-color: #ffffff;
  --footer-color: #2f303a;
}

body {
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;

  letter-spacing: 0.03em;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}

/*-----------------header-----------*/

.logo {
  display: block;
  margin-right: 93px;
  color: var(--active-element-color);
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__span {
  color: var(--title-color);
}

.nav__menu {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;


}

.nav__item {
  margin-right: 50px;
  
}

.logo>.footer-span {
  color: var(--additional-color);
}


.contacts__list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  padding-left: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}


.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: inline-block;
  fill: var(--main-text-color);
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.contacts__icon {
  margin-right: 10px;

}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-element-color);
  fill: var(--active-element-color);
  
}


.nav {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}
.nav__link{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--active {
  color: var(--active-element-color);
  position:relative;
  
}

.nav__link--active::after {
  position: absolute;
  bottom: -32px;
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #2196F3;

}



.container-header {
  display: flex;
  align-items: center;
}

header {
  
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;

}
/*---------------backdrop------------*/

.backdrop{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  background-color:rgba(0, 0, 0, 0.2); 
  opacity:1;
  transition:opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal{

  position:absolute;

  height:581px;
  width:528px;

  background-color: white;
  top:50%;
  left:50%;
  opacity:1;
  transform:translate(-50%, -50%) scaleX(1);
 
  transition:scale 1s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
  
  }

  .backdrop.is-hidden.modal{
    transform: translate(-50%, -50%) scale(0);
    opacity:0;
  }


.btn-close{
  display:block;
  display:flex;

  margin-right:8px;
  margin-top: 8px;
  margin-left: auto;
  
  width: 30px;
  height: 30px;
  
  padding:0;
  border-radius: 50% 50%;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close:hover{
  fill:#2196F3;
  cursor: pointer;
}

.close-img{
  display: block;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  
}

.form-container{
  width:calc(528px - 80px);
  height:501px;
  margin:0;
  margin-left: 41px;;
}

.order__title{

  margin:0;
  margin-bottom: 12px;

  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
}

.order__input{
  
  display:block;
  width:448px;
  height:40px;

  margin-bottom: 10px;
  padding-left:42px;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline:none;

}

.order__input:focus {
border: 1px solid #2196F3;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decor{
  position:relative;
}

.order__icon{
  position:absolute;
  top:11px;
  left:12px;
  fill:rgba(33, 33, 33, 1);
}

.order__input--comment{
  height:120px;
  padding:12px 16px;
  resize:none;
  margin-bottom:0;
  
  
}
.order__lable{

  display:inline-block;
  
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height:1.666;
    color: #757575;
   
    letter-spacing: 0.01em; 
}

.order__input:focus+.order__icon{
  fill:#2196F3;
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.btn-agree{
  display:block;
  width: 200px;
  height: 50px;
  
  background: #188CE8;
    border: 1px solid #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      
      text-align: center;
      letter-spacing: 0.06em;
    
      color:var(--additional-color);
      margin:auto;
}

.btn-agree:focus,
.btn-agree:hover{
  cursor: pointer;
  
    background-color: #2196F3;
      border: 1px solid #2196F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.agreement{
  display:flex;
  justify-content: center;
  align-items: center;
}

.agreement__text{
  margin-left:-6px;
 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.agreement__link{
  position:relative;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
  
  
    letter-spacing: 0.03em;
    color: #2196F3;
}

.agreement__link::after{
  content: '';
  position:absolute;
  display:block;
  bottom:0;
  left:0;
  width:100%;
  border-top: 0.5px solid rgba(33, 150, 243, 1);
  
  

}

.agreement__checkbox{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance:none ;
  position:absolute;
}

.agreement__img{
  display:inline-block;
  
  width:16px;
  height:15px;

  
}
.agreement__checkbox:checked~.agreement__img--before{
  opacity:0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__img--before {
  display: block;
  height: 15px;
  width: 16px;
  border: 1px solid #212121;
  background-color: var(--additional-color);
    transform: translateX(-100%);
    opacity:1;
}
/*---------------hero------------*/

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #2F303A66;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}


.hero__title{
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--additional-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}



h2,
h3 {
  color: var(--title-color);
}





.btn-main {
  display: block;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
  border: 1px transparent;


  color: var(--additional-color);
  background-color: var(--active-element-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
 
  
}



/*---------------advantages------------*/

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;

}

.services__image {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.services__icon {
  display: block;
  width: 70px;
  height: 70px;


}

.services__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-top: 30px;


}

.services__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services__item:not(:last-of-type) {
  margin-right: 30px;
}

.advantages__title {
  margin: -1;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.services__text {
  margin: 0;
  padding-top: 10px;
  line-height: calc(24/14);
}



/*---------------about------------*/

.about {
  padding-top: 0;
  padding-bottom: 94px
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;

}

.about__pictures {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 50px;

}

.about__pic:not(:last-child) {
  margin-right: 30px;
}

.about__pic {
  display: block;
}

.about__overlay {

  position: absolute;
  bottom: 3px;
  left: 0;

  width: 370px;
  height: 70px;
  background-color: #2F303A;
  opacity: 0.8;
  margin: 0;


  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;

  color: var(--additional-color);


}

.about__overlay-wrapper {
  position: relative;
}


/*---------------our team------------*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;

}


.team__name {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
}

.team__position {
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list {
  display: flex;
  padding: 0;
  margin: 0;

}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--additional-color);
}



.team__item:not(:last-of-type) {
  margin-right: 30px;
}

.icon__list {
  list-style: none;
  display: flex;
  margin-top: 16px;
  margin-left: 32px;
  padding: 0;

}



.icon__item:not(:last-of-type) {
  margin-right: 10px;
}

.icon__soc-net {
  display: block;
  margin: 12px auto;

}

.icon__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  color: var(--main-text-color);
  fill: #AFB1B8;
  border:none;
  background-color: var(--additional-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover,
.icon__link:focus {

  fill: var(--additional-color);
  border-radius: 50%;
  border-color: rgba(33, 150, 243, 1) 1px solid;
  background-color: rgba(33, 150, 243, 1);

}


/*---------------clients------------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: #212121;
}

.clients__list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.clients__item:not(:last-of-type) {
  margin-right: 30px;
}


.clients__logo {
  display: block;
  display: flex;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover,
.clients__logo:focus {
  fill: rgba(33, 150, 243, 1);
  border-color: rgba(33, 150, 243, 1);
}

/*---------------footer------------*/

footer {
  background-color: var(--footer-color);
}

.container-address {
  display: flex;


}

footer {
  padding-top: 60px;
  padding-bottom: 60px;

}


address {
  display: inline-block;
  color: var(--additional-color);
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.contacts-footer {

  display: inline-block;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.contact-footer-item {

  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight:400;

}

.contact-footer-item:not(:last-of-type){
  margin-bottom: 9px;
}

.footer-logo {
  margin: 0;

}



.footer-icon__link {
  fill: var(--additional-color);

  border-radius: 50%;
  border-color: black 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-icon__link:hover,
.footer-icon__link:focus {
  background-color: rgba(33, 150, 243, 1);

}

.footer-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.join__title {

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.join {
  margin-left: 70px;
  margin-top: 12px;
}

.sign-up__form{
  margin-left: 93px;
   margin-top: 12px;
   margin-bottom: 0;
   margin-right: 0;
}
 .sign-up__title{
  display:block;
  margin-bottom: 20px;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
 }

 .sign-up-submit,
 .sign-up__input  {
  display: inline-block;

 }


 .sign-up__input{

  padding-left:16px;
  width:358px;
  height:50px;
  width: 358px;
  background-color: #2F303A;
  
   
    border: 1px solid rgba(255, 255, 255, 0.3);
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
    border-radius: 4px;

    font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      
      letter-spacing: 0.03em;
    
      color: rgba(255, 255, 255, 0.6);

 }

 .btn__sign-up{

  position:relative;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;

  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height:1.88;
    
   text-align: left;
    letter-spacing: 0.06em;
  
    color: #FFFFFF;

 }

 .btn__sign-up:hover
 {
  cursor:pointer;
  
 }
 
 .btn__sign-up::after{
  content:'';
  display:inline-block;
  width:24px;
  height:24px;
  background-image: url('../images/send-icon.svg');
  
  position:absolute;
  top:13px;
  right:28px;
 }


/*---------------examples------------*/

.examples__title {
  margin: -1;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;


}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;

}

.work__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;

}

.work__item:not(:last-child) {
  margin-right: 8px;

}


.btn-secondary {
  display: block;

  padding: 6px 22px;

  color: var(--title-color);
  background-color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: inherit;

  border-radius: 4px;
  background: #F5F4FA;
  border-style: none;

  cursor: pointer;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
             background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--additional-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--active-element-color);
}



/*---------------examples__list------------*/
.examples__title,
.examples__branch {
  margin: 0;
}

.examples__description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;

}

.examples__title {
  padding: 0;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.examples__branch {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 1.9;
  padding: 0;
  margin: 0;
}

.examples__pic {
  padding: 0;
  margin: 0;
  display:block;
}

.examples__link {
  width: 370px;
  padding: 0;
  margin: 0;
  display: block;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),

}

.examples__list {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;


  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.examples__item {

  border-bottom: 1px solid #EEEEEE;
  padding: 0;
  margin: 0;
  flex-basis: calc((100% - 60px)/3);

}

.examples__link:hover .examples__text{
 transform: translateY(0);
  opacity: 1;
}

.examples__link:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.examples__text {
  position: absolute;
  top: 0;
  left: 0;
  
  transform: translateY(100%);
  opacity:0;
  transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding-top:63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  margin: 0;
 
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--additional-color);

}

.examples__overlay {
  position: relative;
  overflow: hidden;
  
}